<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CutSet -->
      <package
            uri="http://www.fzi.de/fta/cutset"
            class="de.fzi.fta.cutSet.CutSetPackage"
            genModel="model/CutSet.genmodel"/>
   </extension>

</plugin>
